<h1 class="channels">Channels</h1>
<div class="row">

  <div class="col-md-12">
    <h3 class="findchannel">Find a Channel: </h3>

    <div class="md-form mt-0">
  <input class="form-control" type="text" placeholder="Search" aria-label="Search">
  </div>
  </div>

  <div class="col-md-12 mychannels">
<h3 class ="mychannels">Join a Channel:</h3>

<%= form_tag groups_join_path do |f| %>
<div class="form-group">
<%= collection_check_boxes(:group, :group_ids, @groups, :id, :title) do |b| %>
<%= b.label(class:"label-checkbox") { b.check_box + b.text } %>
<% end %>
<%= submit_tag %>
<% end %>
</div>

  <% @groups.each do |group| %>
    <%# <!-- <p><%= group.title %>
    <% if @current_user.admin? %>
    <%= link_to 'Manage Users', users_path %>
    <%= link_to 'Delete group', group, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>

    <%= link_to 'View posts', posts_path %>
      <% end %>
    <% end %>


  </div>

</div>
