<div class="row">
  <div class="col-md-4">
    <h2>Manage Users</h2>
  <% @users.each do |user| %>
  <p><%= user.email %></p>
  <p>Currently belongs to: <%= user.group_ids%></p>
  <th>groups: </th>
  <div class="field">
    <%= form_for user do |f| %>
    <%= collection_check_boxes(:user, :group_ids, @groups, :id, :title) %>
    <%= f.submit %>
  <% end %>
  </div>
  <% end %>
  </div>

  <div class="col-md-4">
    <h3>Create a Channel: </h3>

    <%= link_to 'New Channels', new_group_path %>
  </div>
  </div>
