
<div class="row">
  <div class="col-md-4">
    <h2 class="userinfo">My details:</h2>
      <p>Username: <%= @user.name %></p>
      <p>Email: <%= @user.email %></p>

      <%= link_to 'Edit or add Profile informaiton', edit_user_path %>
  </div>
<div class="col-md-8">
<h2 class="userinfo">My posts: </h2>
<% @posts.each do |post| %>

    <div class="username">

    </div>
    <div class="title">
      <p><%= post.title %></p>
    </div>

    <div class="description">
    <p><%= post.discription %></p>
    </div>
    <div class="snippet">
    <%==CodeRay.scan(post.codesnippet, :ruby).div %>
  </div>
  <%= link_to 'view Post', post_path(post), method: :get %>
  <%# <%= link_to 'Edit Post', edit_user, method: :update %>
  <hr>
<% end %>
</div>
</div>
