<div class="row">


  <div class="col-md-11">
    <h1 class="recentposts">Recent Posts</h1>
<% @posts.each do |post| %>
<div class="container postfeed">
  <div class="post">

    <div class="username">
    <p>By: <%= post.user.name %></p>
    </div>
    <div class="title">
      <strong><h4><%= post.title %></h4></strong>
    </div>

    <div class="description">
      <p class ="disc"><%= post.discription %></p>
    </div>
    <div>
      <p class="snippet"><%==CodeRay.scan(post.codesnippet, :ruby).div %></p>
    </div>
    <hr>
<% post.replies.each do |r| %>
<div class="comment">
  <p>Answers: </p>
<p><%= r.user.name%>:</p>
  <p class ="response"><%=r.reply %></p>
  <p class ="response"><%==CodeRay.scan(r.codereply, :ruby).div %></p>
  <%= link_to 'Delete Comment', r, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <hr>

    <% end %>
    <div class="reply">
  <%= form_for Reply.new do |f| %>

    <p>Discription</p><%= f.text_field :reply, :class => "form-control" %>
    <p>Code here (optional)</p>  <%= f.text_area :codereply, :class => "form-control" %>
    <%= f.submit 'Comment', :class => "btn btn-raised btn-secondary commentbutton"%>
  <%= hidden_field_tag :post_id, post.id %>


<%# <%= render @replies %>

    <% end %>

      </div>
    </div>
  </div>
    <% end %>
  </div>

  <div class="col-md-1">
    <div class="dropdow"><button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Peers</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% @users.each do |user| %>
    <p class ="dropdown-item"><%= user.name %></p>
    <% end %>
        </div>
    </div>
  </div>
</div>
